[submodule "2d-gaussian-splatting"]
	path = 2d-gaussian-splatting
	url = git://github.com/hbb1/2d-gaussian-splatting.git
[submodule "XMem"]
	path = XMem
	url = https://github.com/hkchengrex/XMem.git
[submodule "xmem"]
	path = xmem
	url = https://github.com/hkchengrex/XMem.git
