[submodule "2d-gaussian-splatting"]
	path = 2d-gaussian-splatting
	url = git://github.com/hbb1/2d-gaussian-splatting.git
[submodule "XMem"]
	path = XMem
	url = https://github.com/hkchengrex/XMem.git
[submodule "xmem"]
	path = xmem
	url = https://github.com/hkchengrex/XMem.git
[submodule "Meacap"]
	path = Meacap
	url = https://github.com/joeyz0z/MeaCap.git
[submodule "requirement_project/2d-gaussian-splatting"]
	path = requirement_project/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "requirement_project/xmem"]
	path = requirement_project/xmem
	url = https://github.com/hkchengrex/XMem.git
[submodule "requirement_project/Meacap"]
	path = requirement_project/Meacap
	url = https://github.com/joeyz0z/MeaCap.git
